<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../node_modules/element-ui/lib/theme-chalk/index.css">
</head>

<body>
    <div id="app">

        <el-input v-model="username" style="width: 200px;" placeholder="请输姓名"></el-input>
        <div>
            <el-radio v-model="sex" label="0">男</el-radio>
            <el-radio v-model="sex" label="1">女</el-radio>
        </div>


        <h2>课程</h2>
        <div>
            <!-- <input type="checkbox" value="html" v-model='course'>html
            <input type="checkbox" value="js" v-model='course'>js
            <input type="checkbox" value="css" v-model='course'>css
            <input type="checkbox" value="node" v-model='course'>node
            <input type="checkbox" value="vue" v-model='course'>vue
            <input type="checkbox" value="react" v-model='course'>react
            <input type="checkbox" value="wx" v-model='course'>小程序 -->

            <el-checkbox :indeterminate="isIndeterminate" v-model="checkAll" @change="checkAllFn">全选
            </el-checkbox>
            <div style="margin: 15px 0;"></div>
            <el-checkbox-group v-model="course" @change="checkOneFn">
                <el-checkbox v-for="item in citiesAry" :label="item.val" :key="item.val">{{item.text}}</el-checkbox>
            </el-checkbox-group>
        </div>

        <h2>爱好</h2>
        <div>
            <select v-model=hobby>
                <option v-for='item in ary' :value="item.val">{{item.text}}</option>
            </select>

        </div>
        <div>
            <h2>手机号</h2>
            <input type="text" v-model='phone'>
        </div>
        <button @click='submit'>提交</button>
    </div>
</body>

</html>
<script src="../../node_modules/vue/dist/vue.js"></script>
<script src="../../node_modules/element-ui/lib/index.js"></script>
<script>

    let vm = new Vue({
        el: '#app',
        data: {
            sex: '0',
            username: '',
            ary: [
                { val: 'eat', text: '吃' },
                { val: 'play', text: '玩' },
                { val: 'sleep', text: '睡觉' },
                { val: 'learn', text: '学习' }
            ],
            hobby: '',
            phone: '',
            course: [],
            citiesAry: [
                { val: 'html', text: 'html' },
                { val: 'css', text: 'scc' },
                { val: 'js', text: 'js' },
                { val: 'node', text: 'node' }
            ],
            checkAll: false,
            isIndeterminate: true
            //
        },
        methods: {
            checkAllFn(val) {
                this.course = val ? this.citiesAry.map(item => item.val) : [];
                this.isIndeterminate = false;
            },
            checkOneFn(value) {
                let n = value.length;
                this.checkAll = n === this.citiesAry.length;
                this.isIndeterminate = n > 0 && n < this.citiesAry.length;
            },
            submit() {
                let obj = {};
                obj.username = this.username;
                obj.course = this.course;
                obj.sex = this.sex == 0 ? '男' : '女';
                obj.hobby = this.hobby;
                obj.phone = this.phone;
                fetch('http://127.0.0.1:8080/add/userinfo', {
                    method: 'post',
                    body: JSON.stringify(obj)
                }).then(response => response.json()).then(data => {
                    console.log(data)
                    if (data.code == 0) {
                        alert('提交成功')
                    }
                })
                console.log(obj)
            }
        },
    })
</script>